p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 20px;
  font-size: small;
  font-family: "Lexend Deca", sans-serif;
  word-spacing: 4px;
  margin-bottom: 60px;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.btn {
  width: 120px;
  height: 35px;
  border-radius: 25px;
  border: 0px;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

.btn:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%) !important;
  background-color: transparent;
}
