@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
  font-size: 15px;
  text-align: left;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 20px;
}

p,
.btn {
  font-family: "Lexend Deca", sans-serif;
  word-spacing: 4px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  width: 120px;
  height: 35px;
  border-radius: 25px;
  border: 0px;
  background-color: hsl(0, 0%, 95%);
}
